<div class="author">
  <h1 class="author__heading">Hi, I am Chris.</h1>
  <p class="author__body">
    Recently join in cyber midterm, a deadline fighter.
  </p>
</div>

<!-- <img
  src="/img/DSC00531-6.jpg"
  alt="person looking out through window"
  class="hero-image"
/> -->
<div class="hero-image-container">
  <img
    src="/img/DSC00531-6.jpg"
    alt="person looking out through window"
    class="hero-image"
  />
</div>
